 <% @reviews.each do |review| %>
				
				<p><%= review.body %></p>
					 <% if review.user != nil %>
						<p><em> by <%= review.user.email %></em>Added on: <%= review.created_at %></p>

						<% else %>

						 <p>No review yet</p>
						 <% end %>
			
							<% if current_user %>
							 		<p><% link_to "Be the first to add a review", new_picture_review_path(@picture) %></p>
						 	<% end %>
				

			<% end %>
			<p>-----------------------</p>

			<% if current_user %>	
				<p>Leave a review</p>

				<%= render 'reviews/form' %>

			<% else %>
				 <p>Please <%= link_to "log in", new_user_session_path %> to add a review.</p> 
			<% end %>
