<div class="margin40"></div>
<div class="row">

  <div class="row">

      <div class="medium-4 columns">
       
        <%= form_tag posts_path, method: :get, authentication: false, id: 'search-form' do %>

      <div class="row">

        <div class="medium-10 columns">
          <%= text_field_tag :search, params[:search], value: 'Search Posts' %>
        </div>
        <div class="medium-2 medium-pull-1 columns">
          <%= submit_tag "Search", class: 'button tiny radius search' %>
          </div>
        </div>
        <% end %>

      </div>

  </div>

 
     <div class="large-8 columns">


      <h2>All Posts<span><%= link_to  'Add Post', new_post_path, class: 'button tiny radius right'%></span></h2><hr>
        <table>
  <thead>
    <tr>
      <th width="150">Date</th>
      <th>Title</th>
      <th width="100">Author</th>
      <th width="300">Post</th>

    </tr>
  </thead>
  <tbody>
      <%= render @posts %>
  </tbody>
</table>

<div id="paginate">
  <%= paginate @posts, :window => 2 %>
</div>


</div>
 

<%= render 'sidebar' %>

    </div><!-- row --><br>


<hr>

 <div class="row">

        <div class="newsletter large-12 columns">
          <h4>Sign Up to our Newsletter</h4>
          <div class="panel callout">
         
           <form>
            <div class="row">
              <div class="large-12 columns">
                <label>Email
                  <input type="text" placeholder="enter email" />
                </label>
              </div>
            </div>

            <div class="row">
              <div class="large-12 columns">    
                  <input type="submit" class="button tiny right radius"/>   
              </div>
            </div>

          </form>
          </div>
        </div>  
      </div>

    </div><!-- row -->
  
  </div><!--sidebar-->

</div><!-- row -->

